Repository PROJECT-GSMC/GSMC-front, pull requests merged in 2025-06, with the labels that each got.

#128 fix: 어드민을 수정했습니다
  .github/workflows/ci.yml
  apps/admin/src/app/detail/[id]/page.tsx
  apps/admin/src/middleware.ts
  apps/admin/src/views/check-post/api/getPosts.ts
  packages/shared/src/button.tsx
Labels: 🌟 Admin

#131 feat: 게시물 삭제 기능을 추가했습니다
  apps/admin/src/entities/check-post/ui/post.tsx
  apps/admin/src/views/detail/ui/index.tsx
  apps/client/src/entities/detail/api/deletePost.ts
  apps/client/src/entities/detail/ui/confirmDetail.tsx
  apps/client/src/entities/posts/api/getSearchResult.ts
  apps/client/src/shared/api/fixScore.ts
  apps/client/src/shared/api/sendScore.ts
  apps/client/src/shared/api/updateActivity.ts
  apps/client/src/shared/api/updateOthers.ts
  apps/client/src/shared/ui/post/post.tsx
  apps/client/src/views/detail/index.tsx
  apps/client/src/widgets/posts/ui/index.tsx
  apps/client/src/widgets/write/api/saveDraft.ts
  apps/client/src/widgets/write/api/sendActivity.ts
  packages/types/src/postType.ts
Labels: 🐋 Client

#141 feat: redirect 404
  apps/admin/src/app/not-found.tsx
  apps/admin/src/entities/404/ui/Redirect404.tsx
  apps/client/src/app/not-found.tsx
  apps/client/src/entities/404/ui/Redirect404.tsx
Labels: 🐋 Client, 🌟 Admin

#144 style: header
  apps/client/src/app/layout.tsx
  apps/client/src/shared/asset/svg/close.tsx
  apps/client/src/shared/asset/svg/hamburger.tsx
  apps/client/src/shared/ui/header/index.tsx
Labels: 🐋 Client

#166 fix: change password
  apps/client/src/shared/api/patchPassword.ts
  apps/client/src/shared/model/changePWForm.ts
  apps/client/src/views/changePassword/ui/index.tsx
  apps/client/src/views/signup/ui/index.tsx
  apps/client/src/widgets/changePassword/ui/index.tsx
  apps/client/src/widgets/stepAuthCode/ui/index.tsx
Labels: 🐋 Client

#172 feat: confirm modal
  apps/admin/src/entities/check-post/ui/post.tsx
  apps/admin/src/views/score/ui/scoreForm.tsx
  apps/client/src/entities/detail/ui/confirmDetail.tsx
  apps/client/src/views/detail/index.tsx
  apps/client/src/widgets/header/ui/index.tsx
  packages/shared/src/card.tsx
  packages/shared/src/confirmModal.tsx
  packages/utils/src/handleCategory.ts
Labels: 🐋 Client, 🪽 Packages

#173 fix: cookie
  packages/api/src/axios.ts
Labels: 🐋 Client, 🌟 Admin
